*.ods#
*~
*.aux
*.auxlock
*.bbl
*.ilg
*.ind
*.blg
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.out
*.snm
*.toc
*.vrb
*.xml
*_minted-*
*.maf
*.thm
*.idx
*.mtc*
*.pyc
*.bcf

*.pdf
!*_major.pdf
!*/img/*.pdf
!*/review*/*.pdf
