<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call of PinTy</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />

    <!-- Math Equation Renderer -->
    <script>
      MathJax = {
        loader: { load: ['input/asciimath', 'output/chtml'] },
      };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>

    <!-- UI Kit CSS Framework -->
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit/uikit.min.js"></script>
    <script src="js/uikit/uikit-icons.min.js"></script>
  </head>
  <body>
    <div class="uk-height-1-1 uk-padding uk-background-muted">
      <div class="uk-container uk-container-expand">
        <!-- Title -->
        <div uk-grid>
          <div class="uk-width-1-1">
            <h1 class="uk-heading uk-heading-line uk-text-center">
              <span> Call of PinTy </span>
            </h1>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-card uk-card-body uk-card-default uk-card-hover">
              <div class="uk-container">
                <h3>Abstract</h3>

                <p>
                  Develop a python code based on a generic framework allowing to
                  investigate and analyze the performance of iterative
                  parallel-in-time (PinT) algorithms. Implement a graphical user
                  interface that could be exposed through a
                  <a href="/app">demonstration website</a>.
                </p>

                <h4>Base convention</h4>
                <p>
                  Represent an iterative PinT algorithm with a
                  <bold>block iteration</bold> of the form ```u_{n+1}^{k+1} =
                  B_1^0 u_{n+1}^k + B_0^0 u_{n}^k + B_0^1 u_{n}^{k+1} + ... ```
                  with ```B_i^j``` the <bold>block coefficient</bold>, built
                  using one or a combination of
                  <bold>block operators</bold> (addition, substraction,
                  multiplication, inverse). For instance, looking at the
                  Parareal algorithm, we have ```u_{n+1}^{k+1} = (F - G) u_{n}^k
                  + G u_{n}^{k+1}, ``` with ```F``` and ```G``` the block
                  operators. Then we have two block coefficients ```B_0^0 =
                  F-G``` and ```B_0^1 = G```. Note that the same block operator
                  can be present in several block coefficients.
                </p>
                <p>
                  <bold>Note</bold>: block coefficients indices don't depend on
                  ```k``` and ```n```, but on the offset. Hence, ```B_1^0``` is
                  the block coefficient for the ```u_{n+1}^{k+0}``` term, and
                  the block coefficient for the ```u_{n-1}^{k+1}``` term would
                  then be ```B_{-1}^{1}```.
                </p>
                <p>
                  Any combination of block operators can be seen as a unique
                  block operator, hence a block coefficient is itself a
                  combination of block operators and also a block operator. This
                  aspect is fully used in the framework implementation.
                </p>

                <h3 class="uk-text-center">
                  <a class="uk-link-heading" href="/app"
                    >Demonstration Website <span uk-icon="link"></span
                  ></a>
                </h3>

                <h3>Acknowledgements</h3>

                <p>
                  This repository results from a collaboration between
                  University of Wuppertal (<a
                    href="https://www.hpc.uni-wuppertal.de/de/mitarbeiter/jens-hahne/"
                    rel="nofollow"
                    >Jens HAHNE</a
                  >) and Hamburg University of Technology (<a
                    href="https://www.mat.tuhh.de/home/tlunet/?homepage_id=tlunet"
                    rel="nofollow"
                    >Thibaut LUNET</a
                  >), as part of the
                  <a href="https://www.timex-eurohpc.eu/" rel="nofollow"
                    >Time-X project</a
                  >.
                </p>

                <!-- <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body">
                      <img src="/images/logo_BUW_black.png" />
                    </div>
                  </div>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body">
                      <img src="/images/tuhh-logo.png" />
                    </div>
                  </div>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body">
                      <img src="/images/LogoTime-X.png" />
                    </div>
                  </div>
                </div> -->

                <p>
                  This project has received funding from the
                  <a href="https://eurohpc-ju.europa.eu/" rel="nofollow"
                    >European High-Performance Computing Joint Undertaking</a
                  >
                  (JU) under grant agreement No 955701 (<a
                    href="https://www.timex-eurohpc.eu/"
                    rel="nofollow"
                    >Time-X</a
                  >). The JU receives support from the European Union’s Horizon
                  2020 research and innovation programme and Belgium, France,
                  Germany, and Switzerland. This project also received funding
                  from the
                  <a
                    href="https://www.bmbf.de/bmbf/en/home/home_node.html"
                    rel="nofollow"
                    >German Federal Ministry of Education and Research</a
                  >
                  (BMBF) grant 16HPC048.
                </p>

                <div
                  class="uk-child-width-1-3@s uk-text-center"
                  uk-grid="masonry: true"
                >
                  <div>
                    <div class="uk-card uk-card-default uk-card-body">
                      <img src="/images/logo_BUW_black.png" />
                    </div>
                  </div>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body">
                      <img src="/images/tuhh-logo.png" />
                    </div>
                  </div>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body">
                      <img src="/images/LogoTime-X.png" />
                    </div>
                  </div>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body">
                      <img src="/images/EuroHPC.jpg" />
                    </div>
                  </div>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body">
                      <img src="/images/logo_eu.png" />
                    </div>
                  </div>
                  <div>
                    <div class="uk-card uk-card-default uk-card-body">
                      <img src="/images/BMBF_gefoerdert_2017_en.jpg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- <script src="js/Plotly.js"></script> -->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="js/mpld3.v0.2.js"></script>
  <script type="module" src="js/main.js"></script>
</html>
