<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call of PinTy</title>
    <link rel="icon" type="image/svg+xml" href="favicon.ico" />
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
  </head>
  <body>
    <!-- React -->
    <div id="root"></div>

    <!-- Dev Mode for Vite -->
    <script type="module">
      import RefreshRuntime from 'http://localhost:5173/@react-refresh';
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>

    <!-- Math Equation Renderer -->
    <script>
      MathJax = {
        loader: { load: ['input/asciimath', 'output/chtml'] },
        tex: {
          inlineMath: [
            ['$', '$'],
            ['\\(', '\\)'],
          ],
        },
      };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>

    <!-- Plotly (TODO: Change) -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/2.22.0/plotly.min.js"
      integrity="sha512-xlrR37gmeyDcytdVCL0xutbW5VQoXejeE6TejHvOh+2lO52X3Et6sjSPVlI76iEElZIhgRXecpzaozskkr/gug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
